@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');


/*GENERALES*/

* {
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

h2 {
    font-size: 3.9rem;
    color: #242E53;
}

button,
.btn__newsletter,
.cta__btn button {
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 5rem;
    padding: 1.1rem 3rem;
    border: 0;
    color: #fff;
    background-color: #F3603B;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -5px;
}


html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
    /* cambia la base de 16px a 10px */

    overflow-x: hidden;
   
}

/* HEADER & NAV */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5% 10%;
    align-items: center;
}


header nav ul {
    display: flex;
    justify-content: space-between;
    width: 382px;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 400;
}

header nav ul li a {
    color: #242E52;
}

.home-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    gap: 5rem;
}

.home-banner__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 100%;
}


.home-banner__text h1 {
    font-size: 5.5rem;
    font-weight: 700;
    color: #232C50;
    letter-spacing: -.3rem;

}

.home-banner__text p {
    width: 35rem;
    margin: 2.8rem 0;

}

.header-burger {
    display: none;
}

.home-banner__img {
    flex: 1 100%;
}

.home-banner__img img {
    width: 100%;
}

/* FEATURES */

#features {
    display: flex;
    padding: 5% 10%;
    gap: 5rem;
    color: #232851;

}

.features__left,
.features__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 100%;
}

.features__left h2 {
    margin-bottom: 3.6rem;
}


.feature h3 {
    color: #323851;
    font-weight: 700;
    font-size: 1.6rem;
    align-self: center;
    padding: 1rem 0;
    display: inline-block;
    margin-left: -6rem;


}

#feature__1,
#feature__2 {
    margin-bottom: 2.7rem;
}

.feature p {
    margin: 1.8rem 0;
    color: #B3B2B7;
    font-weight: 300;
    margin-top: 1.8rem;
}

.feature__text {
    position: relative;
    margin-left: 17%;
}

.feature__number {
    color: #fff;
    background-color: #F3603B;
    border-radius: 3rem;
    padding: 1rem 2.5rem;
    width: 7rem;
    position: relative;
    left: -20%;
    text-align: center;
}

.feature__numer span {
    font-size: 1.6rem;
    font-weight: 700;
}



/* TESTIMONIOS - CARDS */

#testimonios {
    display: flex;
    align-items: center;
    padding: 5% 10%;
    flex-direction: column;
    text-align: center;
}

#testimonios h2 {

    text-align: center;
    margin-bottom: 2rem;
}


#testimonios button {
    width: 15rem;
    margin-top: 2rem;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__text {

    background-color: #FAFAFA;
    padding: 4.8rem 2.1rem 3.8rem 2.1rem;
    height: 25rem;

}

.card__text p {
    color: #B9B9C1;
    font-weight: 300;
    line-height: 2.5rem;
}

.card__text h3 {

    color: #3F4868;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2.1rem;
}

.card img {
    width: 7rem;
    height: 7rem;
    transform: translateY(50%);

}

/* CTA */

.cta {
    background-color: #F3603B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.cta__text {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.cta__text span {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

.cta__btn {
    flex: 1 100%;
    text-align: end;
}

.cta__btn button {
    background-color: #fff;
    color: #F3603B;
}

/* FOOTER */

footer {
    display: flex;
    padding: 5% 10%;
    justify-content: space-between;
    background-color: #1E1E26;

}

.footer__logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__logos img {
    filter: brightness(0) invert(1);
}

.logos__rrss {
    display: flex;
    justify-content: space-around;
}

.footer__links {
    display: flex;
    line-height: 1;

}

.footer__links__2 {
    margin-left: 15rem;
}

footer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

footer ul li {
    list-style-type: none;
    padding-bottom: 1.5rem;

}

footer ul li a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;

}

.form__mail {
    border-radius: 5rem;
    padding: 1rem;
    border: 0;
    margin-right: .9rem;
    font-size: 1.3rem;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer__newsletter span {

    color: #8C8C94;
    font-size: 1.2rem;
    text-align: right;
    margin-top: 7rem;

}




/* MEDIA QUERIES */

@media screen and (max-width: 375px) {

    /* GENERALES & NAV */

    h2 {
        font-size: 2.5rem;
    }

    /* HEADER & NAV */

    header nav ul,
    header button {
        display: none;
    }

    .header-burger {
        display: inline-block;
        font-size: 2rem;
        color: #242E53;
    }

    header img {
        width: 25vw;
    }

    .home-banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100vw;
        text-align: center;
        margin-bottom: 10rem;
    }

    .home-banner__text h1 {
        font-size: 4rem;
        letter-spacing: 0;
    }

    .home-banner__text p {
        color: #8C8C94;
        font-weight: 300;
    }


    .home-banner button {
        align-self: center;
    }

    /* FEATURES */

    #features {
        flex-direction: column;
        font-weight: 300;
        padding: 0;

    }

    .features__left {
        align-self: center;
        text-align: center;
        color: #8C8C94;
        padding: 5% 10%;
    }

    .features__right {
        padding: 0;

    }

    .feature__text h3 {

        color: #323851;
        font-weight: 700;
        font-size: 1.4rem;
        align-self: left;
        padding: 1rem 0;
        width: 70vw;
        padding-left: 2rem;
    }

    .feature__title {
        background-color: #FEF0EC;
    }

    .feature__text p {
        font-size: 1.4rem;
        text-align: left;
        position: relative;
        left: -4rem;
        width: 100%;

    }

    .feature__number {
        font-size: 1.4rem;
        margin-left: 1rem;
        color: #fff;
        background-color: #F3603B;
        border-radius: 3rem;
        padding: 1rem 2.5rem;
        width: 7rem;
        text-align: center;
        display: inline-block;

    }

    /* TESTIMONIOS - CARDS */

    .card {
        width: 90vw;
    }

    .card:nth-child(2),
    .card:nth-child(3) {
        display: none;
    }

    .cta {
        flex-direction: column;
        padding: 10rem 0;
    }

    .cta__text span {
        font-size: 3.5rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    /* FOOTER */

    footer {
        flex-direction: column-reverse;
        padding: 0;
    }

    .footer__links {
        justify-content: center;
    }

    .footer__links__2 {
        margin-left: 7rem;
    }


    .footer__logos {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem;
    }

    .footer__logos img {
        width: 40%;
        align-self: center;
        margin-bottom: 5rem;
    }

    .logos__rrss img {
        width: 3rem;
    }


    .footer__newsletter {
        display: flex;
        padding: 10% 5%;
        justify-content: space-around;
        align-content: center;
        position: relative;

    }

    .form__mail {
        width: 65vw;
    }

    #copyright {
        position: absolute;
        bottom: -30rem;
        left: 8.5rem;

    }

}